<!-- <h1>
  <nav>
    <a routerLink="/home">{{title}}</a>
  </nav>
</h1>
<p>
  <button mat-raised-button color="primary" (click)="creerDonneesDeTest()">
    Peupler BD avec données de test
  </button>
</p>

<div *ngIf="currentRoute !== '/login'">
  <p>Route courante : {{currentRoute}}</p>
  <nav>
    <a routerLink="/login">
      <button mat-raised-button (click)="login()">{{labelConnexion}}</button>
    </a>
  </nav>
  <p *ngIf="isLogged()">Vous êtes connecté en tant que {{nom}}</p>
</div> -->

<mat-toolbar color="primary">
  <span>Assignment Management</span>

  <span class="spacer"></span>
  <mat-icon class="icon" *ngIf="isLogged()">account_circle</mat-icon>
    <span class="username" *ngIf="isLogged()">{{nom}}</span>
  <a mat-raised-button (click)="creerDonneesDeTest()" style="margin-right:25px">Peupler BD avec données de test</a>
  <div *ngIf="currentRoute !== '/login'">
    <nav>
      <a routerLink="/login">
        <button mat-raised-button (click)="login()">{{labelConnexion}}</button>
      </a>
    </nav>

  </div>
</mat-toolbar>

<!-- Indique que le composant affiché sera celui
     correspondant à l'URL courant
-->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Accueil</a>
      <a mat-list-item routerLink="/about">À propos</a>
      <a mat-list-item routerLink="/services">Services</a>
      <a mat-list-item routerLink="/contact">Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
