<h2>Liste des étudiants</h2>

<table mat-table [dataSource]="students" class="mat-elevation-z8 demo-table">
  <!-- id Column -->
  <!-- <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container> -->

  <!-- nom Column -->
  <ng-container matColumnDef="nomEleve">
    <th mat-header-cell *matHeaderCellDef> Nom de l'élève </th>
    <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
